<div class="password-strength-container">
  <input style="width: 250px" (keydown)="onKeyDown($event)" type="password" [(ngModel)]="password" (input)="updatePasswordStrength()" [attr.type]="showPassword ? 'text' : 'password'" placeholder="Enter password to check strength">
  <label>Show Password<input type="checkbox" [(ngModel)]="showPassword"></label>
  <div class="password-strength-indicator">
    <div class="strength-section" [ngClass]="{'gray': !password.length, 'red': password.length > 0 && password.length < 8, 'yellow': password.length >= 8 && passwordStrength === 'medium', 'green': passwordStrength === 'strong'}"></div>
    <div class="strength-section" [ngClass]="{'gray': !password.length, 'yellow': passwordStrength === 'medium', 'green': passwordStrength === 'strong'}"></div>
    <div class="strength-section" [ngClass]="{'gray': !password.length, 'green': passwordStrength === 'strong'}"></div>
  </div>
</div>
