.password-strength-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-strength-indicator {
  display: flex;
  width: 250px;
  height: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.strength-section {
  flex: 1;
}

.gray {
  background-color: #ccc;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
